In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
df = pd.read_csv("v4.csv")
df.head()

,Country,Status,Life_expectancy,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,Hepatitis_B,Measles,BMI,under-five_deaths,Polio,Total_expenditure,Diphtheria,HIV_AIDS,GDP,Population,Income_composition_of_resources,Schooling
0,Saint Vincent and the Grenadines,Developing,73.2,156.0,0,NaN,0.000000,98.0,0,54.1,0,97.0,NaN,98.0,0.1,NaN,NaN,0.720,13.3
1,Chile,Developing,77.3,13.0,2,6.24,74.148429,NaN,0,54.0,3,91.0,6.40,91.0,0.1,511.368479,15262754.0,0.755,13.5
2,Egypt,Developing,69.0,176.0,57,0.16,0.000000,97.0,80,52.9,70,97.0,5.21,97.0,0.1,NaN,NaN,0.623,11.2
3,Republic of Korea,Developing,81.2,69.0,1,9.56,0.000000,99.0,2,3.4,2,99.0,7.10,99.0,0.1,NaN,NaN,NaN,NaN
4,Costa Rica,Developing,78.1,16.0,1,3.58,2377.010299,89.0,0,55.5,1,93.0,9.66,88.0,0.1,8199.414621,454528.0,0.749,13.3

In [24]:
df.shape

(1000, 19)

In [25]:
df.isna().sum()

Country                              0
Status                               0
Life_expectancy                      5
Adult_Mortality                      5
infant_deaths                        0
Alcohol                             50
percentage_expenditure               0
Hepatitis_B                        172
Measles                              0
BMI                                  9
under-five_deaths                    0
Polio                                5
Total_expenditure                   65
Diphtheria                           5
HIV_AIDS                             0
GDP                                145
Population                         213
Income_composition_of_resources     54
Schooling                           51
dtype: int64

In [26]:
df.columns

Index(['Country', 'Status', 'Life_expectancy', 'Adult_Mortality',
       'infant_deaths', 'Alcohol', 'percentage_expenditure', 'Hepatitis_B',
       'Measles', 'BMI', 'under-five_deaths', 'Polio', 'Total_expenditure',
       'Diphtheria', 'HIV_AIDS', 'GDP', 'Population',
       'Income_composition_of_resources', 'Schooling'],
      dtype='object')

In [27]:
data = df[df["Life_expectancy"] > 0]
data.shape

(995, 19)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          995 non-null    object
 1   Status                           995 non-null    object
 2   Life_expectancy                  995 non-null    float64
 3   Adult_Mortality                  995 non-null    float64
 4   infant_deaths                    995 non-null    int64
 5   Alcohol                          945 non-null    float64
 6   percentage_expenditure           995 non-null    float64
 7   Hepatitis_B                      823 non-null    float64
 8   Measles                          995 non-null    int64
 9   BMI                              987 non-null    float64
 10  under-five_deaths                995 non-null    int64
 11  Polio                            990 non-null    float64
 12  Total_expenditure                930 non-null    float64
 13  Diphtheria                       990 non-null    float64
 14  HIV_AIDS                         995 non-null    float64
 15  GDP                              852 non-null    float64
 16  Population                       786 non-null    float64
 17  Income_composition_of_resources  945 non-null    float64
 18  Schooling                        945 non-null    float64
dtypes: float64(14), int64(3), object(2)
memory usage: 155.5+ KB

In [29]:
X, y = data.drop('Life_expectancy', axis=1), data['Life_expectancy']
print(X.columns)

Index(['Country', 'Status', 'Adult_Mortality', 'infant_deaths', 'Alcohol',
       'percentage_expenditure', 'Hepatitis_B', 'Measles', 'BMI',
       'under-five_deaths', 'Polio', 'Total_expenditure', 'Diphtheria',
       'HIV_AIDS', 'GDP', 'Population', 'Income_composition_of_resources',
       'Schooling'],
      dtype='object')

In [30]:
y[:5]

0    73.2
1    77.3
2    69.0
3    81.2
4    78.1
Name: Life_expectancy, dtype: float64

In [31]:
X.shape, y.shape

((995, 18), (995,))

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((796, 18), (199, 18), (796,), (199,))

`Tranform data`

In [33]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import FeatureUnion, Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [34]:
nt1 = ('imputer', SimpleImputer(strategy='mean', missing_values=np.nan), list(range(2, 18)))
# nt2 = ('scaler', StandardScaler(), list(range(2, 18)))
# numeric_transformer = ColumnTransformer(transformers=[ nt1, nt2], sparse_threshold=0)

In [35]:
num_pipe = Pipeline(steps=[('nt1', ColumnTransformer(transformers=[nt1])),
                            ('nt2', StandardScaler())])

In [36]:
ct = ('ohe', OneHotEncoder(handle_unknown='ignore'), [0,1])
categorical_transformer = ColumnTransformer(transformers=[ct])

In [37]:
X_train.shape

(796, 18)

In [38]:
X_train.iloc[:, 0:2].head()

                         Country      Status
982  United Republic of Tanzania  Developing
455                        Italy   Developed
460                         Peru  Developing
839                       Malawi  Developing
84                    Mauritania  Developing

In [39]:
X_train.iloc[:, 2:18].head()

,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,Hepatitis_B,Measles,BMI,under-five_deaths,Polio,Total_expenditure,Diphtheria,HIV_AIDS,GDP,Population,Income_composition_of_resources,Schooling
982,34.0,86,0.01,0.000000,97.0,88,23.2,121,97.0,5.58,97.0,1.4,NaN,NaN,NaN,NaN
455,72.0,2,9.25,2883.334911,95.0,9385,56.4,3,96.0,8.23,93.0,0.1,22196.573600,57597.0,0.836,15.2
460,133.0,11,4.29,516.403702,93.0,0,5.2,15,93.0,4.60,93.0,0.3,3611.214700,28292724.0,0.696,13.2
839,394.0,29,0.01,55.831076,89.0,1,18.8,42,89.0,1.96,89.0,6.3,332.922339,16577147.0,0.459,10.7
84,217.0,8,0.02,61.762638,74.0,4,26.1,12,73.0,3.23,74.0,1.3,1167.535689,347541.0,0.475,7.2

In [40]:
fu = FeatureUnion(transformer_list=[('num_trans', num_pipe), ('cat_trans', categorical_transformer)])
X_new = fu.fit_transform(X_train)
X_new.shape

(796, 201)

In [41]:
type(X_new)

scipy.sparse.csr.csr_matrix

`Linear Regression`

In [42]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_new, y_train)

LinearRegression()