<a href="https://colab.research.google.com/github/ganeshbmc/MLP/blob/main/oppe1_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
from google.colab import files
uploaded = files.upload()

Saving v4.csv to v4 (2).csv

In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv("v4.csv")
df.head()

,Country,Status,Life_expectancy,Adult_Mortality,infant_deaths,Alcohol,percentage_expenditure,Hepatitis_B,Measles,BMI,under-five_deaths,Polio,Total_expenditure,Diphtheria,HIV_AIDS,GDP,Population,Income_composition_of_resources,Schooling
0,Saint Vincent and the Grenadines,Developing,73.2,156.0,0,NaN,0.000000,98.0,0,54.1,0,97.0,NaN,98.0,0.1,NaN,NaN,0.720,13.3
1,Chile,Developing,77.3,13.0,2,6.24,74.148429,NaN,0,54.0,3,91.0,6.40,91.0,0.1,511.368479,15262754.0,0.755,13.5
2,Egypt,Developing,69.0,176.0,57,0.16,0.000000,97.0,80,52.9,70,97.0,5.21,97.0,0.1,NaN,NaN,0.623,11.2
3,Republic of Korea,Developing,81.2,69.0,1,9.56,0.000000,99.0,2,3.4,2,99.0,7.10,99.0,0.1,NaN,NaN,NaN,NaN
4,Costa Rica,Developing,78.1,16.0,1,3.58,2377.010299,89.0,0,55.5,1,93.0,9.66,88.0,0.1,8199.414621,454528.0,0.749,13.3

In [60]:
df.shape

(1000, 19)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          1000 non-null   object
 1   Status                           1000 non-null   object
 2   Life_expectancy                  995 non-null    float64
 3   Adult_Mortality                  995 non-null    float64
 4   infant_deaths                    1000 non-null   int64
 5   Alcohol                          950 non-null    float64
 6   percentage_expenditure           1000 non-null   float64
 7   Hepatitis_B                      828 non-null    float64
 8   Measles                          1000 non-null   int64
 9   BMI                              991 non-null    float64
 10  under-five_deaths                1000 non-null   int64
 11  Polio                            995 non-null    float64
 12  Total_expenditure                935 non-null    float64
 13  Diphtheria                       995 non-null    float64
 14  HIV_AIDS                         1000 non-null   float64
 15  GDP                              855 non-null    float64
 16  Population                       787 non-null    float64
 17  Income_composition_of_resources  946 non-null    float64
 18  Schooling                        949 non-null    float64
dtypes: float64(14), int64(3), object(2)
memory usage: 148.6+ KB

In [62]:
df.isna().sum()

Country                              0
Status                               0
Life_expectancy                      5
Adult_Mortality                      5
infant_deaths                        0
Alcohol                             50
percentage_expenditure               0
Hepatitis_B                        172
Measles                              0
BMI                                  9
under-five_deaths                    0
Polio                                5
Total_expenditure                   65
Diphtheria                           5
HIV_AIDS                             0
GDP                                145
Population                         213
Income_composition_of_resources     54
Schooling                           51
dtype: int64

In [63]:
data = df.dropna(subset= ['Life_expectancy'])

In [64]:
data.shape

(995, 19)

In [65]:
data.isna().sum()

Country                              0
Status                               0
Life_expectancy                      0
Adult_Mortality                      0
infant_deaths                        0
Alcohol                             50
percentage_expenditure               0
Hepatitis_B                        172
Measles                              0
BMI                                  8
under-five_deaths                    0
Polio                                5
Total_expenditure                   65
Diphtheria                           5
HIV_AIDS                             0
GDP                                143
Population                         209
Income_composition_of_resources     50
Schooling                           50
dtype: int64

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 999
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          995 non-null    object
 1   Status                           995 non-null    object
 2   Life_expectancy                  995 non-null    float64
 3   Adult_Mortality                  995 non-null    float64
 4   infant_deaths                    995 non-null    int64
 5   Alcohol                          945 non-null    float64
 6   percentage_expenditure           995 non-null    float64
 7   Hepatitis_B                      823 non-null    float64
 8   Measles                          995 non-null    int64
 9   BMI                              987 non-null    float64
 10  under-five_deaths                995 non-null    int64
 11  Polio                            990 non-null    float64
 12  Total_expenditure                930 non-null    float64
 13  Diphtheria                       990 non-null    float64
 14  HIV_AIDS                         995 non-null    float64
 15  GDP                              852 non-null    float64
 16  Population                       786 non-null    float64
 17  Income_composition_of_resources  945 non-null    float64
 18  Schooling                        945 non-null    float64
dtypes: float64(14), int64(3), object(2)
memory usage: 155.5+ KB

In [67]:
data['BMI'].mean()

38.063931104356634

In [68]:
len(data['Country'].unique())

183

In [69]:
data.columns

Index(['Country', 'Status', 'Life_expectancy', 'Adult_Mortality',
       'infant_deaths', 'Alcohol', 'percentage_expenditure', 'Hepatitis_B',
       'Measles', 'BMI', 'under-five_deaths', 'Polio', 'Total_expenditure',
       'Diphtheria', 'HIV_AIDS', 'GDP', 'Population',
       'Income_composition_of_resources', 'Schooling'],
      dtype='object')

In [70]:
x, y = data.drop(['Life_expectancy'], axis=1), data['Life_expectancy']

In [71]:
x.columns

Index(['Country', 'Status', 'Adult_Mortality', 'infant_deaths', 'Alcohol',
       'percentage_expenditure', 'Hepatitis_B', 'Measles', 'BMI',
       'under-five_deaths', 'Polio', 'Total_expenditure', 'Diphtheria',
       'HIV_AIDS', 'GDP', 'Population', 'Income_composition_of_resources',
       'Schooling'],
      dtype='object')

In [72]:
x.shape

(995, 18)

In [73]:
y.shape

(995,)

In [74]:
y[:5]

0    73.2
1    77.3
2    69.0
3    81.2
4    78.1
Name: Life_expectancy, dtype: float64

In [75]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((796, 18), (199, 18), (796,), (199,))

In [76]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [77]:
x.columns

Index(['Country', 'Status', 'Adult_Mortality', 'infant_deaths', 'Alcohol',
       'percentage_expenditure', 'Hepatitis_B', 'Measles', 'BMI',
       'under-five_deaths', 'Polio', 'Total_expenditure', 'Diphtheria',
       'HIV_AIDS', 'GDP', 'Population', 'Income_composition_of_resources',
       'Schooling'],
      dtype='object')

In [78]:
nf = ['Adult_Mortality', 'infant_deaths', 'Alcohol',
       'percentage_expenditure', 'Hepatitis_B', 'Measles', 'BMI',
       'under-five_deaths', 'Polio', 'Total_expenditure', 'Diphtheria',
       'HIV_AIDS', 'GDP', 'Population', 'Income_composition_of_resources',
       'Schooling']

cf = ['Country', 'Status']

In [79]:
# For numerical features, do simple imputation using mean and then scale them using standard scaler
num_tf = Pipeline(steps=
                    [
                        ('imputer', SimpleImputer(strategy='mean')),
                        ('scaler', StandardScaler())
                    ])
cat_tf = OneHotEncoder(handle_unknown='ignore')

In [80]:
tf = ColumnTransformer(transformers=
                       [
                           ('num', num_tf, nf),
                            ('cat', cat_tf, cf)
                       ])
x_train = tf.fit_transform(x_train)

In [81]:
x_train.shape

(796, 200)

In [82]:
type(x_train)

scipy.sparse.csr.csr_matrix

In [87]:
x_test = tf.transform(x_test)

In [88]:
x_test.shape

(199, 200)

In [83]:
# Fit SGDRegressor
from sklearn.linear_model import SGDRegressor

sgd_kwargs = {'penalty': 'l1',
              'alpha': 0.001,
              'learning_rate': 'constant',
              'eta0': 0.001,
              'random_state': 42}

sgdr = SGDRegressor(**sgd_kwargs)

In [84]:
sgdr.fit(x_train, y_train)

SGDRegressor(alpha=0.001, eta0=0.001, learning_rate='constant', penalty='l1',
             random_state=42)

In [90]:
train_score = sgdr.score(x_train, y_train)
train_score

0.9408233293674609

In [91]:
test_score = sgdr.score(x_test, y_test)
test_score

0.9177805166861385

In [92]:
np.abs(train_score - test_score)

0.023042812681322467

In [93]:
from sklearn.metrics import mean_squared_error
mse_train = mean_squared_error(y_train, sgdr.predict(x_train))
mse_test = mean_squared_error(y_test, sgdr.predict(x_test))
mse_train, mse_test

(5.338581649513021, 7.4416912688516)

In [94]:
np.abs(mse_train - mse_test)

2.1031096193385794